@model AgroBay.Core.Model.UserProductReview

@{
    ViewData["Title"] = "Product Review/Details";
    Layout = "~/Views/Shared/_DashbordLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>UserProductReview</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserProduct)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserProduct.id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateSet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateSet)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
